@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre12 {
    height: 804px;
    vertical-align: baseline;
    width: 435px
    }
.calibre13 {
    height: 700px;
    vertical-align: baseline;
    width: 434px
    }
.calibre14 {
    height: 773px;
    vertical-align: baseline;
    width: 482px
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre16 {
    display: block
    }
.calibre17 {
    height: 333px;
    vertical-align: baseline;
    width: 441px
    }
.calibre18 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre19 {
    font-size: 0.83333em
    }
.calibre2 {
    height: 131px;
    vertical-align: baseline;
    width: 410px
    }
.calibre20 {
    font-size: 1em
    }
.calibre21 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre22 {
    height: 749px;
    vertical-align: baseline;
    width: 442px
    }
.calibre23 {
    height: 35px;
    vertical-align: baseline;
    width: 13px
    }
.calibre24 {
    height: 766px;
    vertical-align: baseline;
    width: 472px
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre26 {
    height: 60px;
    vertical-align: baseline;
    width: 38px
    }
.calibre27 {
    height: 204px;
    vertical-align: baseline;
    width: 317px
    }
.calibre28 {
    height: 758px;
    vertical-align: baseline;
    width: 475px
    }
.calibre29 {
    height: 768px;
    vertical-align: baseline;
    width: 462px
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre30 {
    height: 321px;
    vertical-align: baseline;
    width: 389px
    }
.calibre31 {
    height: 282px;
    vertical-align: baseline;
    width: 239px
    }
.calibre32 {
    height: 16px;
    vertical-align: baseline;
    width: 33px
    }
.calibre33 {
    height: 781px;
    vertical-align: baseline;
    width: 479px
    }
.calibre34 {
    height: 381px;
    vertical-align: baseline;
    width: 429px
    }
.calibre35 {
    height: 40px;
    vertical-align: baseline;
    width: 9px
    }
.calibre36 {
    height: 302px;
    vertical-align: baseline;
    width: 426px
    }
.calibre37 {
    height: 756px;
    vertical-align: baseline;
    width: 467px
    }
.calibre38 {
    height: 494px;
    vertical-align: baseline;
    width: 425px
    }
.calibre39 {
    height: 761px;
    vertical-align: baseline;
    width: 456px
    }
.calibre4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre40 {
    height: 754px;
    vertical-align: baseline;
    width: 465px
    }
.calibre41 {
    height: 760px;
    vertical-align: baseline;
    width: 516px
    }
.calibre42 {
    height: 676px;
    vertical-align: baseline;
    width: 502px
    }
.calibre43 {
    height: 705px;
    vertical-align: baseline;
    width: 517px
    }
.calibre44 {
    height: 684px;
    vertical-align: baseline;
    width: 534px
    }
.calibre45 {
    height: 709px;
    vertical-align: baseline;
    width: 520px
    }
.calibre46 {
    height: 787px;
    vertical-align: baseline;
    width: 482px
    }
.calibre47 {
    height: 674px;
    vertical-align: baseline;
    width: 524px
    }
.calibre48 {
    height: 15px;
    vertical-align: baseline;
    width: 35px
    }
.calibre49 {
    height: 940px;
    vertical-align: baseline;
    width: 598px
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 0
    }
.calibre50 {
    height: 324px;
    vertical-align: baseline;
    width: 431px
    }
.calibre51 {
    height: 282px;
    vertical-align: baseline;
    width: 431px
    }
.calibre52 {
    height: 331px;
    vertical-align: baseline;
    width: 436px
    }
.calibre53 {
    height: 240px;
    vertical-align: baseline;
    width: 342px
    }
.calibre54 {
    height: 177px;
    vertical-align: baseline;
    width: 295px
    }
.calibre55 {
    height: 111px;
    vertical-align: baseline;
    width: 312px
    }
.calibre56 {
    height: 766px;
    vertical-align: baseline;
    width: 482px
    }
.calibre57 {
    height: 783px;
    vertical-align: baseline;
    width: 584px
    }
.calibre58 {
    height: 740px;
    vertical-align: baseline;
    width: 510px
    }
.calibre59 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre60 {
    display: block;
    height: 1em
    }
.calibre61 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre62 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre63 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre64 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre65 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre66 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -19pt
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.calibre8 {
    font-size: 0.625em
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }

